<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            The articles are coming from <a href="https://www.foxnews.com" target="_blank"> FOX News </a>
            <a class="grey-text text-lighten-4 right" href="/articles-json"> JSON</a>
        </div>
    </div>
</footer>
